*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.index-section{
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(background.jpg);
    background-size: cover;
    padding: 40px 0;
    height: 100vh;
}

footer{
    text-align: center;
    color: #ddd;
    background-color: #34495e;
    padding-top: 20px;
    padding-bottom: 20px;


}
nav{
    display:flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
    
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: red;
    text-decoration: none;
    font-size: 17px;
    transition: 0.75s all;
    font-size: x-large;
}
.nav-links ul li a:hover{
    color: #2980b9;
}
.text-box{
    width: 90%;
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: #ddd;
    font-family:cursive;
}
.menu-button{
    display: inline-block;
    text-decoration: none;
    color: #ddd;
    border: 2px solid #ddd;
    padding: 15px 40px;
    font-size: x-large;
    background: transparent;
    position: relative;
    border-radius: 8px;
}
.menu-button:hover{
    border: 2px solid gray;
    background: gray;
    transition: 0.75s;
}

/* Menu */
.menu-section{
    background:url(menu.jpg);
    background-size: auto;
    padding: 40px 0;
    
}
.menu-section h1{
    text-align: center;
    font-size: 50px;
    color: #34495e;
}
.menu-row{
    display: flex;
    padding: 0 100px 0 100px;
}
.menu-col{
    box-shadow: 2px 2px 2px #34495e;
    border: 1px solid #ddd;
    background-color: #ddd;
    margin: 10px;
    flex: 1;
    padding: 10px;
}
.menu-col h2{
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid orange;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;

}

/* Gallery */
.gallery-section{
    padding: 40px 0;
}


.gallerynav{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));}
.galleryhead{
    text-align: center;
    color: #000;
    border: 3px solid #000;
    padding: 20px;
    margin: 10px;
    font-family: arial;
    font-weight: lighter;
    text-decoration: underline;
    
}
img{
    max-width: 100%;
    height: auto;
}

.gallery{
    margin: 20px;
}
.gallery-items{
    height: auto;
    margin: 20px;
}

.gallery-items img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    float: left;
    margin: 20px 20px 20px 50px;
}




/* About */
.about-section{
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(thistle.jpg);
    background-size: auto;
    padding: 40px 0;
    
}


.about-us{
    
    padding-top: 20px;
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: x-large;

}

/* Contact us */

.contact-section{
    background: url(bg.jpg);
    background-size: auto;
    padding: 40px 0;
    
}
.contact-section h1{
    text-align: center;
    color: #ddd;
    font-size: 40px;
}
.contact-section p{
    text-align: center;
    color: #ddd;
    font-size: 30px;
}
.border{
    width: 100px;
    height: 10px;
    background: #ddd;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #5c0404;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #000;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}
